body{
    background-color: #93aadc;
    
}
#container{
    height: 500px;
    width: 600px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: beige;
}